{% extends "base.html" %} 
{% block title %}Lite Software | Lite{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='lite.css') }}">
{% endblock %}
{% block content %}
<form class="formq" id="tradeForm" method="POST">
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Tradier API Key(s)</label>
      <textarea required placeholder="Eg. API Key 1&#10;Eg. API Key 2&#10;Eg. API Key 3" name="api-keys" class="rounded-4 border-subtle form-control" id="apiKeys" rows="3"></textarea>
      <div id="API" class="form-text">We don't store any user API keys.</div>
    </div>
    <label for="buysell" class="form-label">Buy or Sell</label>
    <select name="side" id ="buysell" class="rounded-4 border-subtle mb-3 form-select OPTIONS" aria-label="buysell">
        <option class="optionhover" selected>Select</option>
        <option class="optionhover" value="b">Buy</option>
        <option class="optionhover" value="s">Sell</option>
    </select>
    <div class="mb-3">
        <label for="tickr" class="form-label">Stock Ticker</label>
        <input required placeholder="Eg. AAPL" type="text" name="ticker" name="ticker" class="rounded-4 border-subtle form-control" id="tickr" aria-describedby="tickr">
    </div>
    <div class="mb-3">
        <label for="shares" class="form-label">Amount of Shares</label>
        <input required placeholder="Eg. 1" type="text" name="amount" name="amount" class="form-control rounded-4 border-subtle" id="shares" aria-describedby="shares">
    </div>
    <div class="mb-3 form-check">
      <input required type="checkbox" class="form-check-input" id="confirmTrade">
      <label class="form-check-label" for="confirmTrade">Confirm Trade</label>
    </div>
    <button id="SUBMIT" type="submit" class="rounded-4 btn btn-primary">Submit</button>
</form>
{% endblock %}