{% extends "base.html" %}
{% block title %}Lite Software | Order Log{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='orderlog.css') }}">
{% endblock %}
{% block content %}
    <div class="div404">
        <div class="WHOLESTUFF">
            <div>
                <h1 class="header">Order Log</h1>
            </div>
            <div>
                <p class="orderlog">{{ order_log }}</p> 
                <a id="SUBMIT" class="btn btn-primary rounded-4" href="/">Go Back Home</a>
            </div>
        </div>
    </div>
{% endblock %}