.mainheader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    text-align: center;
}

@media (min-width: 992px) {
    .mainheader {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }
    .main {
        height: 90%;
    }
}