.login-form {
    height: 75vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnwrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box {
    border: rgb(196, 196, 196) 1px solid;
}

#SUBMIT {
    transition: opacity 0.5s;
    border: rgb(228, 166, 166) 1px solid;
    background-color: rgb(247, 151, 151);
    font-size: 18px;
}

#SUBMIT:hover {
    opacity: 0.7;
}

.form-control:focus {
    border-color: rgb(255,204,204); /* Custom border color */
    box-shadow: 0 0 0 0.2rem rgba(255, 87, 51, 0.25); /* Custom focus glow */
}


.message{
    margin: 0;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ENTERKEY {
    font-size: 20px;
}

@media (min-width: 992px) {
    .WHOLE-FORM {
        width: 15vw;
    }
    
    .login-form {
        height: 85vh;
        width: 100;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .btnwrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #box {
        border: rgb(196, 196, 196) 1px solid;
    }
    
    #SUBMIT {
        transition: opacity 0.5s;
        border: rgb(228, 166, 166) 1px solid;
        background-color: rgb(247, 151, 151);
        font-size: 18px;
    }
    
    #SUBMIT:hover {
        opacity: 0.7;
    }
    
    .form-control:focus {
        border-color: rgb(255,204,204); /* Custom border color */
        box-shadow: 0 0 0 0.2rem rgba(255, 87, 51, 0.25); /* Custom focus glow */
    }
    
    
    .message{
        margin: 0;
        color: white;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #ENTERKEY {
        font-size: 20px;
    }
}